WYQ5JK_1004/WYQ5JK_orarend.dtd

<!ELEMENT WYQ5JK_orarend (ora*)>
<!ATTLIST ora id CDATA #REQUIRED>
<!ATTLIST ora tipus (eloadas|gyakorlat) "eloadas">
<!ELEMENT ora (targy, idopont, helyszin, oktato, szak)>

<!ELEMENT targy (#PCDATA)>

<!ELEMENT idopont (nap, tol, ig)>
    <!ELEMNT nap (#PCDATA)>
    <!ELEMNT tol (#PCDATA)>
    <!ELEMNT ig (#PCDATA)>

<!ELEMENT helyszin (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>
<!ELEMENT szak (#PCDATA)>